@model Vidly.Models.Movie

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>Жанр: @Model.Genre.Name</li>
    <li>Дата выхода: @Model.ReleaseDate.ToLongDateString()</li>
    <li>Дата добавления: @Model.DateAdded.ToLongDateString()</li>
    <li>Количество в наличии: @Model.NumberInStock</li>
</ul>
